torch
torchvision
matplotlib
numpy
opencv-python # cv2
imageio
imageio-ffmpeg
pyyaml # yaml
tqdm
argparse
cython
scikit-image # skimage
scipy
onnxruntime
gradio
trimesh
pyrender
pyrealsense2
pyvista
open3d
scikit-learn
#mediapipe